<div class="link">
  <%= link_to "新メニュー登録ページへ", new_menu_path, class: "new-menu-page", local: true %>
</div>

<div class='main'>
  <div class='menu'>
    メニュー
    <div class='main-menu'>
      メインメニュー
      <%# 繰り返し表示設定 %>
      <div class>
      </div>
      <%# 繰り返し表示設定 %>
    </div>
    <div class='side-menu'>
      サイドメニュー
      <%# 繰り返し表示設定 %>
      <div class>
      </div>
      <%# 繰り返し表示設定 %>
    </div>
    <div class='dessert'>
      デザート
      <%# 繰り返し表示設定 %>
      <div class>
      </div>
      <%# 繰り返し表示設定 %>
    </div>
  </div>
</div>