.header{
  background-color: lightblue;
  height: 5vh;
}

.user-management{
  display: block;
  display: flex;
  justify-content: flex-end;
}

.logout {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  line-height: 32px;
  color: #333333;
}

.new-menu-page{
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}