.main{
  width: 100vw;
  text-align: center;
}

.all-menu{
  width: 60vw;
  margin: auto;
}

.main-menu{
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

.side-menu{
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

.dessert{
  background-color: pink;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

h2{
  color: blue;
}

.menu-image{
  height: 100px;
  width: 120px;
}